* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  background: #222;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  background: #ff4500;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-top: 10px;
  &:hover {
      background: #ff8c00;
  }
}

.menuButton {
  position: absolute;
  top: 20px;
  left: 20px;
  background: transparent;
  border: none;
  color: white;
  font-size: 32px;
  cursor: pointer;
  z-index: 1101;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Mejor que center si tienes títulos y listas */
  text-align: center;
  min-height: 100vh; /* <-- permite crecer si hay más contenido */
  width: 100vw;
  background: linear-gradient(180deg, #4b6cb7, #182848);
  color: white;
  position: relative;
  overflow-y: auto;  /* <-- permite hacer scroll si hay mucho contenido */
  padding: 20px;
}

.baseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(180deg, #6a11cb, #2575fc);
  color: white;
}

.rankingList {
  max-width: 1000px;
  width: 100%;
  padding: 20px;
}
